<style type="text/css">
  body { padding-top: 40px; }
</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to @page.section.site.name, '/', :class => 'brand' %>

      <ul class="nav">
        <% @sections.each do |s| %>
          <% s_path = page_path(s.index_page, :id => s.index_page, :variety_type => s.class._variety) %>
          
          <% unless s.indexed_children.any? %>
            <li class="<%= @page == s.index_page && 'active' %>">
              <%= link_to s, s_path %>
            </li>
            
          <% else %>
            <li class="<%= @page == s.index_page && 'active' %> dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= s %><b class="caret"></b></a>
              
              <ul class="dropdown-menu">
                <li>
                  <%= link_to s.index_page, s_path %>
                </li>

                <% s.indexed_children.each do |ic| %>
                  <li>
                    <%= link_to ic, page_path(ic.index_page, :id => ic.index_page, :variety_type => ic.class._variety) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>