<style type="text/css">
  body { padding-top: 40px; }
</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to(brand_link_value, '/', :class => 'brand') if Habanero::Site.current %>

      <ul class="nav">
        <% @gardens.each do |s| %>
          <% s_path = scene_path(s.index_scene, :id => s.index_scene, :variety_type => s.class._variety) %>
          
          <% unless s.indexed_children.any? %>
            <li class="<%= @scene == s.index_scene && 'active' %>">
              <%= link_to s, s_path %>
            </li>
            
          <% else %>
            <li class="<%= @scene == s.index_scene && 'active' %> dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= s %><b class="caret"></b></a>
              
              <ul class="dropdown-menu">
                <li>
                  <%= link_to s.index_scene, s_path %>
                </li>

                <% s.indexed_children.each do |ic| %>
                  <li>
                    <%= link_to ic, scene_path(ic) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>