<%= cell_title(collection_title) %>

<%= cell_content do %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <% @ingredients.each do |i| %>
          <%= table_header(i) %>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
      <% @targets.each do |t| %>
        <tr>
          <% @ingredients.each do |i| %>
            <td><%= table_format(t, i) %></td>
          <%- end -%>
        </tr>
      <%- end -%> 
    </tbody>
  </table>
<% end %>

<%= paginate @targets if @placement.scoop.paginate? and @targets.any? %>

<%= link_to "Create another #{@variety}", page_path(new_variety_page, :variety_type => @variety), :class => 'btn' %>

