<%= cell_div do %>
  <%= cell_title(@target) %>

  <%= cell_content do %>
    <p><%= @target.documentation %></p>

    <% @target.class.reflect_on_all_associations(:has_many).each do |a| %>
      <% if @target.send(a.name).any? %>
        <%= h(3){a.name.to_s} %>

        <% @target.send(a.name).each do |o| %>
          <% if o.respond_to?(:documentation) %>
            <%= h(4){o.name} %>
      
            <p><%= o.documentation %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
