<%= form_for(@target, :as => @placement.params_key,
                      :url => '', # use the page or the current page
                      :method => (@target.new_record? ? :post : :put)) do |f| -%>

  <pre><%= @target.errors.inspect %></pre>

  <% @ingredients.each do |ingredient| -%>
    <%= f.ingredient ingredient %>
  <% end %>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' -%>

    <% if @target.persisted? %>
      <%= link_to 'Delete', '',
        :class => 'btn btn-danger',
        :confirm => 'Are you sure?',
        :method => :delete %>
    <% end %>
  </div>
<% end %>
