<%= cell_title("Layout plan for #{@target}") %>

<div class="layout-look btn" style="width: 100%">
  <p>Layout: <%= @target.nearest_layout.to_s %></p>

  <% @layout.rows.each do |r| %>
    <div class="row-look btn" style="width: 96%;">
      <p>Row: <%= r.to_s %></p>

      <% r.beds.each do |b| %>
        <div class="sortable bed-look btn" klass="<%= b.class.name %>" target="<%= b.best_id %>" relation="placements" style="float:left; width: <%= (100 * b.span / 12) - 4 %>%">
          <p>
            Bed: <%= b.to_s %>
          </p>

        <% ps = @placements.select { |p| p.bed == b } %>

          <% if ps.any? %>
            <% ps.each do |p| %>
              <div klass="<%= p.class.name %>" id="<%= p.class.name.underscore.pluralize %>_<%= p.id %>" class="placement-plan btn <%= @target.inherited_placement?(p) ? 'btn-warning unsortable' : 'btn-success' %>">
                <p><%= p.to_s %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end if @layout %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  	$('.sortable').sortable({
  		connectWith: '.sortable',
  		items: 'div:not(.unsortable, p)',

  		update: function(event, ui) {
  			$.put('/habanero/scenes/sort', 
		      $(this).sortable('serialize') +
    			  '&id=' + $(this).attr('target') +
    			  '&variety_type=' + $(this).attr('klass') +
    			  '&relation=' + $(this).attr('relation')
    		)
  		}		
  	}).disableSelection();
  })
</script>
 