<%= cell_title('connections') %>

<% unless @target.class.name == 'Habanero::SlugTrait'%>
    <%- @traits.each do |i| -%>
      <%= create_connector(i.inverse_variety, i.to_s.downcase, :context => {i.inverse_column_name => @target.id}) if @target %>
      <%- if @target.present? -%>
        <ul>
          <% if i.relation =~ /many/ %>
            <%- @target.send(i.method_name).each do  |c| -%>
              <li>
                <%= link_to c, scene_path((@feature.scene || @scene), c) %>
              </li>
            <%- end -%>
          <% else %>
            <%- if @target.send(i.method_name).present? -%>
              <li>
                <%= format_trait(@target, i) -%>
              </li>
            <% end %>
          <% end %>
        </ul>
      <%- end -%>
    <%- end -%>
    
    <%- if @target.present? and @target.respond_to?(:children) -%>
      <%= create_connector(@target.class._variety, 'children', :context => {:parent_id => @target.id}) if @target %>
      <ul>
        <%- @target.children.each do  |c| -%>
          <li>
            <%= link_to c, scene_path((@feature.scene || @scene), c) %>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
<% end %>