<%= cell_title(collection_title) %>

<%= cell_content do %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <% @traits.each do |i| %>
          <%= grid_header(i) %>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
      <% @targets.each do |t| %>
        <tr>
          <% @traits.each do |i| %>
            <td><%= grid_format(t, i) %></td>
          <%- end -%>
        </tr>
      <%- end -%> 
    </tbody>
  </table>
<% end %>

<%= paginate @targets if @feature.paginate? and @targets.any? %>

<%= create_another_button(@variety) %>

