<%= cell_div do %>
  <%= cell_title(@placement.scoop.to_s) %>

  <%= cell_content do %>
    <table class="table">
      <thead>
        <tr>
          <% @ingredients.each do |i| %>
            <th><%= i.to_s %></th>
          <%- end -%>
        </tr>
      </thead>

      <tbody>
        <% @targets.each do |t| %>
          <tr>
            <% @ingredients.each do |i| %>
              <td><%= format_ingredient(t, i) %></td>
            <%- end -%>
          </tr>
        <%- end -%> 
      </tbody>
    </table>
  <% end %>
<% end %>
