<%= cell_div do %>
  <%= cell_title(@placement.scoop.to_s) %>

  <%= cell_content do %>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <% @ingredients.each do |i| %>
            <th><%= i.to_s %></th>
          <%- end -%>
        </tr>
      </thead>

      <tbody>
        <% @targets.each do |t| %>
          <tr>
            <% @ingredients.each do |i| %>
              <td>
                <% if @placement.scoop.page %>

                  <% if i.relation == 'belongs_to' %>
                    <% v = t.send(i.method_name) %>
                    <% if v.present? %>
                      <%= link_to(format_ingredient(t, i), page_path(@placement.scoop.page, :id => t.send(i.method_name), :sorbet_type => i.inverse.sorbet)) %>
                    <% end %>

                  <% elsif i.type == 'Habanero::NameIngredient' %>
                    <%= link_to(format_ingredient(t, i), page_path(@placement.scoop.page, :id => t, :sorbet_type => t.class._sorbet)) %>

                  <% else %>
                    <%= format_ingredient(t, i) %>
                  <% end %>

                <% else %>
                  <%= format_ingredient(t, i) %>
                <% end %>
              </td>
            <%- end -%>
          </tr>
        <%- end -%> 
      </tbody>
    </table>
  <% end %>
<% end %>
