<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="page <%= @page.section.names_idified %> <%= @page.name.idify %>">

<div class="<%= layout_class(@page.layout) %>">
  <% @page.layout.rows.each do |r| %>
    <div class="<%= row_class(r) %>">
      <% r.regions.each do |reg| %>
        <%= arrange_region(reg) %>
      <% end %>      
    </div>
  <% end %>
</div>

</body>
</html>